.main_section {
    width: 100%;
    height: 100% !important;
    padding: 0 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards_list {
    height: 100%;
    padding-top: 5rem;
    overflow: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.cards_list::-webkit-scrollbar {
    display: none;
  }

.card {
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    background: #CAF0F8;
    border-radius: 16px;
}

.climate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.climate p {
    font-size: 1.8rem;
}

.feels-like {
    color: rgba(0, 0, 0, 0.7);
}

.side_info {
    flex: 1;
}